body {
    background-color: #f5f8f9;
    margin: 0 auto;
}


/*底部黑框*/

.foot_black {
    height: 40px;
    background-color: #202124;
}

header {
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    background-color: #ffffff;
}


/*头部栏*/

.head_top {
    width: 1140px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}


/*底部栏*/

footer {
    width: 1440px;
    height: 250px;
    background-color: #34393c;
    margin: 0 auto;
}

.head_top h1 {
    display: block;
}

.fr {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/*设置，信息样式*/

.set,
.info {
    width: 20px;
    height: 22px;
    margin-left: 10px;
}

.set a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../image/set.png) no-repeat;
}

.info a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../image/info.png) no-repeat;
}

.log_out {
    width: 110px;
    height: 40px;
    margin-left: 10px;
}

.log_out a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../image/log_out.png) no-repeat;
}


/*主体*/

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 1140px;
    min-height: 1280px;
    margin-bottom: 50px;
    margin: 0 auto;
}

.logo {
    width: 200px;
    height: 80px;
}

.overview {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 560px;
    height: 170px;
    margin-right: 20px;
}

.overview p {
    font-size: 22px;
}


/*导航栏*/

.navitems {
    display: flex;
    flex: 1;
    height: 170px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navitems ul li {
    float: left;
    margin-left: 10px;
    padding-bottom: 10px;
}

.navitems ul li a:hover {
    color: orange;
    border-bottom: 2px solid #C0EAFA;
}


/*轮播图*/

.cir_banner {
    position: relative;
    width: 530px;
    height: 250px;
    margin-top: 10px;
    border: 10px solid #fff;
}

.focus {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.focus ul {
    position: absolute;
    width: 800%;
}

.focus ul li {
    float: left;
}

.focus ul li img {
    width: 530px;
    height: 250px;
}


/*轮播图下标*/

.circle {
    position: absolute;
    left: 240px;
    bottom: 10px;
}

.circle li {
    float: left;
    width: 8px;
    height: 10px;
    cursor: pointer;
    margin: 0 6px;
    background-color: #c0c4c6;
}


/*轮播图按钮*/

.left_btn,
.right_btn {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 20px;
    z-index: 2;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    display: none;
}

.right_btn {
    right: 0;
}

.support {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 270px;
    padding: 10px 0;
    margin-left: 20px;
}


/*信息栏*/

.requests {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

.requests p {
    margin-left: 50px;
    font-size: large;
}

.requests ul li a {
    display: block;
    margin-right: 50px;
    width: 90px;
    height: 36px;
    line-height: 36px;
    color: #7b7e80;
    border: 2px solid #e9e9ea;
    text-align: center;
}

.user {
    margin-top: 1px;
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-between;
    background-color: #ffffff;
}

.user_time {
    margin-left: 50px;
}

.user_status {
    margin-right: 50px;
}

.user_time,
.user_name,
.user_status {
    margin-top: 30px;
}

.user_time li {
    margin-bottom: 20px;
}

.user_name li {
    margin-bottom: 20px;
}

.user_status li {
    margin-bottom: 10px;
}

.user_status ul li a {
    display: inline-block;
    height: 30px;
    width: 60px;
    line-height: 30px;
    background-color: #5dd054;
    color: #f5f8f9;
    text-align: center;
}


/*曲线显示栏*/

.Curve_display {
    width: 1140px;
    height: 350px;
    margin-top: 20px;
    background-color: #ffffff;
}


/*饼状显示栏*/

.Cakeshape_display {
    margin-top: 20px;
    margin-right: 20px;
    width: 560px;
    height: 380px;
    background-color: #ffffff;
}


/*柱状显示栏*/

.Column_display {
    display: flex;
    flex: 1;
    height: 380px;
    margin-top: 20px;
    background-color: #ffffff;
}

.bottom_column {
    width: 1140px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}


/*底部栏链接*/

.foot_link {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.foot_logo {
    margin-right: 50px;
}

.foot_link ul {
    margin-right: 110px;
}

.foot_link ul li {
    margin-top: 10px;
}

.foot_link ul li a {
    font-size: 18px;
    color: #fff;
}